.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: sans-serif;
}

.status{
    margin-bottom: 20px;
    font-size: 1.5rem;
    &.winner{
        color : #00965e;
        front-weight: bold;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: #f4f6f8;
    border: 2px solid #004e30;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #004e30;
    cursor: pointer;
    transition: all 0.2s;


    &.hover:not(:disabled){
        background-color: #e9ecef;
        transform: scale(1.05);
    }   

    &:disabled{
        cursor : default;
    }
}

.reset-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #00965e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  &:hover { background-color: #004e30; }
}