.navbar {
  background-color: #004e30; 
  padding: 35px 0;
  display: flex;
  justify-content: center;   
  gap: 40px;                 
  width: 100%;
  a {
    color: white;
    text-decoration: none;   
    font-weight: bold;
    font-family: sans-serif;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;          
      text-decoration: underline;
    }
  }
}
div {
    background-color: #00965e;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #00965e;

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}

   