.navbar {
  background-color: #004e30; 
  padding: 35px 0;
  display: flex;
  justify-content: center;   
  gap: 40px;                 
  width: 100%;
  a {
    color: white;
    text-decoration: none;   
    font-weight: bold;
    font-family: sans-serif;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;          
      text-decoration: underline;
    }
  }
}

div {
    background-color: #00965e;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #00965e;

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}

.header-section {
    background-color: #00965e; 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;

    button {
        background-color: #f4f6f8;
        color: #002e1b;
        border: none;
        padding: 12px 25px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-top: 20px;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
            background-color: #e2e6ea;
        }
    }
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    transition: translateY 0.3s;

    &:hover {
        transform: translateY(-5px);
    }

    h3 {
        color: #004e30;
        margin-bottom: 10px;
    }

    p {
        color: #444;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .project-link {
        display: inline-block;
        color: #00965e;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid #00965e;
        padding: 5px 10px;
        border-radius: 4px;

        &:hover {
            background-color: #00965e;
            color: white;
        }
    }
}