.navbar {
  background-color: #004e30; 
  padding: 35px 0;
  display: flex;
  justify-content: center;   
  gap: 40px;                 
  width: 100%;
  a {
    color: white;
    text-decoration: none;   
    font-weight: bold;
    font-family: sans-serif;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;          
      text-decoration: underline;
    }
  }
}

div {
    background-color: #00965e;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #00965e;

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}

button {
  background-color: #f4f6f8;
  color: #002e1b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 15px;


}

ul {
    list-style-type: none;
    max-width: 400px;
    margin: 20px auto;

  li {
    background-color: #e9ecef;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    text-align: center;


  }
}